.numbers
  text-align: center
  margin-bottom: 37px
  &-block
    display: flex
    flex-direction: column
    vertical-align: top
    &__title
      font-size: 36px
      font-weight: 900
      color: $active-color
      margin-bottom: 10px
      sup
        font-size: 18px
    &__text
      font-size: 16px
      font-weight: 300

.features
  background-color: $bg-color-light
  padding-top: 49px
  padding-bottom: 55px
  &-block
    display: flex
    align-items: center
    height: 85%
    padding: 28px 19px
    background-color: #fff
    margin-bottom: 30px
    &__img
      flex-basis: 40%
      margin-right: 9px
    &__title
      font-size: 15px
      font-weight: 700
      margin-bottom: 5px
    &-descr
      font-size: 14px
      font-weight: 400

@media screen and (max-width: 1024px)
  .numbers
    &-block
      margin-bottom: 30px
