.header
    padding: 15px 0
    &-logo
        background: url(../img/header-img.png) center no-repeat
        background-size: 100%
        width: 191px
        height: 61px
        border-radius: 4px
    &-contacts
        display: flex
        justify-content: flex-end
        align-items: center
        a
            text-decoration: none
            color: #000
        &__phone
            font-size: 22px
            margin-right: 13px
            &s
                display: flex
            &:first-child
                border-right: 1px solid #cfcfd0
                padding-right: 13px

@media screen and (max-width: 1024px)
    .header
        &-contacts
            &__phone
                font-size: 14px

@media screen and (max-width: 767px)
    .header
        width: 100%
        &-logo
            background: url(../img/header-img.png) center no-repeat
            width: 191px
            height: 61px
            border-radius: 4px
        &-contacts
            &__phone
                font-size: 14px
                margin-right: 0
                &s
                    flex-direction: column
                &:first-child
                    border: none
            &__button
                display: inline-block
                padding: 9px

@media screen and (max-width: 576px)
    .header
        width: 100%
        &-logo
            background: $active-color url(../img/header-img_mobile.png) center no-repeat
            width: 35px
            height: 35px
            border-radius: 4px
        &-contacts
            &__phone
                font-size: 14px
                margin-right: 0
                &s
                    flex-direction: column
                &:first-child
                    border: none
            &__button
                display: inline-block
                padding: 9px
            .button
                padding: 0
                width: 35px
                height: 35px
