.main
    padding-top: 65px
    padding-bottom: 60px
    background: #373737 url(../img/main/main-bg.jpg) center no-repeat
    background-size: cover
    color: $text-color-light
    &-img
        position: relative
        &::before
            content: ''
            position: absolute
            z-index: -1
            width: 390px
            height: 390px
            left: 50%
            margin-left: -160px
            border: 1px solid #ffffff
            border-radius: 50%
        &::after
            content: ''
            position: absolute
            width: 60px
            height: 50px
            background-image: url(../img/main/logo.png)
            left: 100px
            top: 340px

    &-text
        &__title
            font-size: 41px
            font-weight: 700
            margin-bottom: 20px
        &__subtitle
            font-size: 28px
            font-weight: 300
            margin-bottom: 27px
        &__form
            padding: 30px 27px
            background-color: rgba(255, 255, 255, 0.2)
.form
    display: flex
    margin-bottom: 12px
    &-title
        padding-right: 87px
        font-size: 20px
        font-weight: 300
        line-height: 30px
        margin-bottom: 20px
        &__important
            display: block
            font-weight: 700
            text-transform: uppercase
    &__input
        margin-right: 10px
        padding: 20px
        border-radius: 5px
        border: none
        vertical-align: middle
        flex-basis: 50%
    &-small
        font-size: 14px
        font-weight: 300

@media screen and (max-width: 1400px)
    .main
        &-img
            &::after
                left: 90px
                top: 315px

@media screen and (max-width: 1200px)
    .main
        &-img
            &::before
                width: 340px
                height: 340px
                left: 53%
                top: -1%
            &::after
                left: 65px
                top: 260px

@media screen and (max-width: 1024px)
    .main
        &-text
            &__title
                font-size: 30px
            &__subtitle
                font-size: 23px
        &-img
            &::before
                width: 240px
                height: 240px
                left: 70%
                top: -1%
            &::after
                left: 30px
                top: 185px
    .form
        &-title
            font-size: 15px
        &__input
            font-size: 12px
        &-small
            font-size: 10px
    .button
        padding: 15px
        font-size: 12px

@media screen and (max-width: 767px)
    .main
        &-img
            &::before
                width: 390px
                height: 390px
                left: 44%
                top: -1%
            &::after
                left: 100px
                top: 338px
        &-text
            text-align: center
            &__title
                margin-top: 50px
    .form
        justify-content: center
        &-title
            padding: 0

@media screen and (max-width: 576px)
    .main
        text-align: center
        padding-top: 50px
        &-text
            &__title
                font-size: 22px
                color: $active-color
                margin-bottom: 5px
            &__subtitle
                font-size: 18px
                margin-bottom: 40px
            &__form
                background-color: transparent
                padding: 0
    .form
        display: flex
        flex-direction: column
        align-items: center
        &-small
            font-size: 13px
        &-title
            padding-right: 0
            font-size: 15px
            line-height: 1.4
            &__important
                margin-top: 8px
        &__input
            text-align: center
            max-width: 365px
            width: 100%
            display: block
            margin-bottom: 13px
            margin-right: 0
    .button
        max-width: 180px
        width: 100%
    .hidden-mobile
        display: none
